html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Loading payment gateway...
        style.
            body,html{
                font-family: 'sans-serif';
            }
            #maintext{
                margin-top: 30px;
            }
    body
        center
            #maintext
                h1 Loading payment gateway
                p Please don't close this page

            form#redir-form(method="post", action="http://cashfree.com")
                input(type="hidden" name="appId" value=appId)
                input(type="hidden" name="orderId" value=orderId)
                input(type="hidden" name="orderAmount" value=orderAmount)
                input(type="hidden" name="orderCurrency" value=orderCurrency)
                input(type="hidden" name="orderNote" value=orderNote)
                input(type="hidden" name="customerName" value=customerName)
                input(type="hidden" name="customerEmail" value=customerEmail)
                input(type="hidden" name="customerPhone" value=customerPhone)
                input(type="hidden" name="returnUrl" value=returnUrl)
                input(type="hidden" name="notifyUrl" value=notifyUrl)
                input(type="hidden" name="vendorSplit" value=vendorSplit)
                input(type="hidden" name="signature" value=signature)
            
            script.
                setTimeout(() => document.getElementById('redir-form').submit(), 1000);
