html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= 'Payment was ' + (success? 'successful': 'unsuccessful')
        style.
            body,html{
                font-family: sans-serif;
            }
            #maintext{
                margin-top: 30px;
                border-style: solid;
                border-width: 3px;
                padding: 10px;
                display: inline-block;
                border-radius: 5px;
            }
            .green{
                border-color: #080;
                background-color: #0a0;
                color: white;
            }
            .red{
                border-color: #c00;
                background-color: #f00;
                color: white;
            }
    body
        center
            #maintext(class=[success? 'green': 'red'])
                - if (success)
                    p Payment was successful. You will be automatically redirected.
                - else
                    p Payment failed. Please try again on the next screen.
        script.
            setTimeout(() => window.location = '#{nextUrl}', 1000);